<div id="<%= dom_id invite %>">
  <p>
    <strong>Title:</strong>
    <%= invite.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= invite.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= invite.date %>
  </p>

  <p>
    <strong>Inactivated at:</strong>
    <%= invite.inactivated_at %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= invite.company_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= invite.user_id %>
  </p>

</div>
