<% request_url = @user.new_record? ? administrator_users_path : administrator_user_path(@user) %> 

<%= form_for @user, url: request_url, class: "user_sign_in_form" do |f| %>
  <% if @user.errors.any? %>
    <div class="error-messages">
      <ul>
        <% @user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: 'form-label' %>
    <%= f.text_field :email, placeholder: "teste@email.com", class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'form-label' %>
    <%= f.password_field :password, placeholder: "******", class: 'form-input' %>
  </div>

  <div class="form-actions">
    <%= f.submit "Enviar", class: 'submit-link' %>
  </div>
<% end %>
